In [233]:
import numpy as np
import pyspark
from delta import DeltaTable, configure_spark_with_delta_pip

builder = pyspark.sql.SparkSession.builder.appName("MyApp") \
            .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
            .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [234]:

userdata = DeltaTable.forPath(spark, '/home/mlops/project/DeltaLake/platinum_data/spotify_genre_agg_table')

userdataDF = userdata.toDF()

In [269]:
userdata.toDF().toPandas()

,spotify_uid,spotify_create_time,spotify_update_time,spotify_read_time,spotify_genres,spotify_genres_9,spotify_genres_18,spotify_followers,spotify_popularity,spotify_genres_1
0,fiFDr5jQg0aUSfSHw59g1rQFVSs1,2021-12-29 14:41:10.781769,2021-12-29 14:41:45.770151,2022-02-04 19:24:43.689808,"{'social media pop': 2, 'rebel blues': 4, 'cou...","{'Pop': 21, 'Rhythm music': 4, 'Alternative': ...","{'Rock': 16, 'Dance Music, Techno and House': ...",2.693735e+06,65.066667,Pop
1,Q3t2J73kpIcMqGBmB1ZEqLANtDz1,2021-12-06 18:23:20.788728,2022-01-08 11:26:15.073020,2022-02-04 19:24:43.689808,"{'miami hip hop': 3, 'nz pop': 1, 'piano rock'...","{'Pop': 30, 'Rhythm music': 1, 'Alternative': ...","{'Pop': 30, 'Utility': 1, 'Rock': 8, 'Not_assi...",1.167529e+07,77.608696,Pop
2,uagVX8DeaePP88Qz5Vj2EtXstK03,2021-12-11 12:21:02.186210,2021-12-11 12:21:02.186210,2022-02-04 19:24:43.689808,"{'finnish heavy metal': 1, 'rock-and-roll': 1,...","{'Pop': 10, 'Rhythm music': 3, 'Alternative': ...","{'Pop': 9, 'Heavy Metal': 21, 'Industrial and ...",4.858708e+06,69.702128,Rock and Heavy Metal
3,UrZpLI2DysWJIVCmLNwTW5JJJO62,2022-01-09 15:36:20.930481,2022-01-09 15:36:20.930481,2022-02-04 19:24:43.689808,"{'filter house': 2, 'new rave': 1, 'japanese c...","{'Pop': 11, 'Rhythm music': 4, 'Alternative': ...","{'Rock': 14, 'Dance Music, Techno and House': ...",2.468938e+06,63.487805,Not_assignable_no_concert_music
4,VQEI5Ea2AsP2tjLTlfBcmL0wn7t2,2021-12-06 15:01:05.156199,2022-01-31 12:54:50.318255,2022-02-04 19:24:43.689808,"{'social media pop': 3, 'candy pop': 1, 'nouve...","{'Pop': 25, 'Rhythm music': 1, 'Alternative': ...","{'Pop': 25, 'Heavy Metal': 10, 'Utility': 2, '...",7.276814e+06,70.500000,Rock and Heavy Metal
5,f6TABm8ygYT5P1NbtF7DQEk6bv82,2021-12-06 18:36:31.549954,2021-12-25 13:56:33.876422,2022-02-04 19:24:43.689808,"{'italian pop': 1, 'melodic hard rock': 1, 'in...","{'Pop': 1, 'Rock and Heavy Metal': 2}","{'Pop': 1, 'Rock': 2}",2.492494e+06,53.500000,Rock and Heavy Metal

In [273]:
user =  userdataDF.select('spotify_followers', 'spotify_popularity')

In [274]:
import tensorflow_decision_forests as tfdf
import tensorflow as tf

manual_model = tf.keras.models.load_model("/home/mlops/project/TFX/pipelines/clean_TFX_pipeline/Trainer/model/75/Format-Serving")

In [275]:
import pandas as pd
tf_dataset_test = tfdf.keras.pd_dataframe_to_tf_dataset(user.toPandas())

predictions = manual_model.predict(tf_dataset_test)
pd.DataFrame(predictions)

          0         1    2         3         4    5         6    7    8
0  0.959999  0.040000  0.0  0.000000  0.000000  0.0  0.000000  0.0  0.0
1  0.006667  0.000000  0.0  0.003333  0.003333  0.0  0.986666  0.0  0.0
2  0.493333  0.506666  0.0  0.000000  0.000000  0.0  0.000000  0.0  0.0
3  0.929999  0.070000  0.0  0.000000  0.000000  0.0  0.000000  0.0  0.0
4  0.996666  0.003333  0.0  0.000000  0.000000  0.0  0.000000  0.0  0.0
5  0.659999  0.340000  0.0  0.000000  0.000000  0.0  0.000000  0.0  0.0

In [276]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

cred = credentials.Certificate("/home/mlops/project/DeltaLake/firebaseServiceAccountKey.json")
firebase_admin.initialize_app(cred)
db = firestore.client()

In [282]:



db.collection(u'predicted_9_genres').document(u'LA').set({'test': 'test'})

userdataDF.toPandas()

,spotify_uid,spotify_create_time,spotify_update_time,spotify_read_time,spotify_genres,spotify_genres_9,spotify_genres_18,spotify_followers,spotify_popularity,spotify_genres_1
0,fiFDr5jQg0aUSfSHw59g1rQFVSs1,2021-12-29 14:41:10.781769,2021-12-29 14:41:45.770151,2022-02-04 19:24:43.689808,"{'social media pop': 2, 'rebel blues': 4, 'cou...","{'Pop': 21, 'Rhythm music': 4, 'Alternative': ...","{'Rock': 16, 'Dance Music, Techno and House': ...",2.693735e+06,65.066667,Pop
1,Q3t2J73kpIcMqGBmB1ZEqLANtDz1,2021-12-06 18:23:20.788728,2022-01-08 11:26:15.073020,2022-02-04 19:24:43.689808,"{'miami hip hop': 3, 'nz pop': 1, 'piano rock'...","{'Pop': 30, 'Rhythm music': 1, 'Alternative': ...","{'Pop': 30, 'Utility': 1, 'Rock': 8, 'Not_assi...",1.167529e+07,77.608696,Pop
2,uagVX8DeaePP88Qz5Vj2EtXstK03,2021-12-11 12:21:02.186210,2021-12-11 12:21:02.186210,2022-02-04 19:24:43.689808,"{'finnish heavy metal': 1, 'rock-and-roll': 1,...","{'Pop': 10, 'Rhythm music': 3, 'Alternative': ...","{'Pop': 9, 'Heavy Metal': 21, 'Industrial and ...",4.858708e+06,69.702128,Rock and Heavy Metal
3,UrZpLI2DysWJIVCmLNwTW5JJJO62,2022-01-09 15:36:20.930481,2022-01-09 15:36:20.930481,2022-02-04 19:24:43.689808,"{'filter house': 2, 'new rave': 1, 'japanese c...","{'Pop': 11, 'Rhythm music': 4, 'Alternative': ...","{'Rock': 14, 'Dance Music, Techno and House': ...",2.468938e+06,63.487805,Not_assignable_no_concert_music
4,VQEI5Ea2AsP2tjLTlfBcmL0wn7t2,2021-12-06 15:01:05.156199,2022-01-31 12:54:50.318255,2022-02-04 19:24:43.689808,"{'social media pop': 3, 'candy pop': 1, 'nouve...","{'Pop': 25, 'Rhythm music': 1, 'Alternative': ...","{'Pop': 25, 'Heavy Metal': 10, 'Utility': 2, '...",7.276814e+06,70.500000,Rock and Heavy Metal
5,f6TABm8ygYT5P1NbtF7DQEk6bv82,2021-12-06 18:36:31.549954,2021-12-25 13:56:33.876422,2022-02-04 19:24:43.689808,"{'italian pop': 1, 'melodic hard rock': 1, 'in...","{'Pop': 1, 'Rock and Heavy Metal': 2}","{'Pop': 1, 'Rock': 2}",2.492494e+06,53.500000,Rock and Heavy Metal

In [313]:
genre_map = spark.read.format('delta').load('/home/mlops/project/DeltaLake/platinum_data/genre_map_indexed')
genre_map.to_pandas_on_spark().head()

      genres         main_genre_18          main_genre_9  main_genre_9_index  main_genre_18_index  genres_index
0        pop                   Pop                   Pop                   1                    0          4115
1  dance pop                   Pop                   Pop                   1                    0          1276
2        rap       Rap and Hip-Hop       Rap and Hip-Hop                   5                    5          4327
3       rock                  Rock  Rock and Heavy Metal                   0                    2          4469
4      latin  Latin American music  Latin American music                   8                   10          3049

In [329]:
predDF = pd.DataFrame(predictions)

genre_map_2 = genre_map.select('main_genre_9', 'main_genre_9_index').distinct().sort('main_genre_9_index').toPandas().to_dict()['main_genre_9']


data = predDF.rename(columns=genre_map_2)
data

,Rock and Heavy Metal,Pop,Not_assignable_no_concert_music,Alternative,Electronical music,Rap and Hip-Hop,Rhythm music,Classical,Latin American music
0,0.959999,0.040000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
1,0.006667,0.000000,0.0,0.003333,0.003333,0.0,0.986666,0.0,0.0
2,0.493333,0.506666,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
3,0.929999,0.070000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
4,0.996666,0.003333,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
5,0.659999,0.340000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0

In [336]:


userPd = userdata.toDF().toPandas()
# print(userPd[0:1]['spotify_uid'].values[0])
for index, prediction in data.iterrows():
    uid = userPd[prediction.name:prediction.name+1]['spotify_uid'].values[0]
    db.collection(u'predicted_9_genres').document(uid).set(prediction.to_dict())

,0,1,2,3,4,5,6,7,8
Rock and Heavy Metal,0.959999,0.040000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
Pop,0.006667,0.000000,0.0,0.003333,0.003333,0.0,0.986666,0.0,0.0
Not_assignable_no_concert_music,0.493333,0.506666,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
Alternative,0.929999,0.070000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
Electronical music,0.996666,0.003333,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
Rap and Hip-Hop,0.659999,0.340000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0